html {
    font-family: colfax-web, sans-serif;
}

#month-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}

#month-subcontainer {
    display: flex;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    border: solid 1px gray;
    background-color: white;
    overflow-x: auto;
}

#month-grid,
#day-info {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    grid-gap: 1px;
    background-color: gray;
}

#day-info {
    border-radius: 24px;
    overflow: hidden;
    border: solid 1px gray;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    &>textArea {
        margin-top: 5px;
        resize: none;
        outline: none;
        border-radius: 5x;
    }

    &>button {
        margin-left: 5px;
        background: none;
        box-shadow: none;
        border: solid 1px gray;
        border-radius: 5px;
    }
}

#day-info>div {
    margin: 5px;

    &>button {
        margin-left: 5px;
        background: none;
        box-shadow: none;
        border: solid 1px gray;
        border-radius: 5px;
    }
}

#month-grid>div {
    text-align: center;
    width: 100%;
    background-color: peachpuff;
}

#start {
    min-width: 32px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}

.calendar-container {
    margin-top: 16px;
}

.calendar-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.day-block {
    background-color: white;
    aspect-ratio: 1;
    position: relative;
    border: none;
}

.day-block:hover {
    opacity: 90%;
}

.day-block:active {
    opacity: 50%;
}

.day-block>p {
    position: absolute;
    top: 0;
    right: 16px;

}
