#calendar {
    width: 60vw;
    margin: auto;
    margin-bottom: 1vh;
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);  /* Currently we have the base now we need to create columns for each of the days */
}

h1, h2 {
    text-align: center;
}

.weekdays {
    text-align: center;
    grid-column: 1 / -1; 
    font-weight: bold;
}

.days {
    font-weight: bold;
    background-color: beige;
    padding: 2px;
}

.monthSelect {
    text-align: center;
}

